.art-header {
    width: 100%;
    height: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 80px center;
}

.header-kenkyu {
    background-image: url('../images/kenkyu.png');
}

.header-booklet {
    background-image: url('../images/booklet.jpg');
}

.header-quiz {
    background-image: url('../images/quiz.jpg');
}

.header-module {
    background-image: url('../images/module.jpg'); 
}

.header-bigboard {
    background-image: url('../images/daibo1.jpg');
}

.header-moduleContest {
    height: 80px;
}

.art-title p {
    margin: 5vw;
    font-size: 2rem;
}

.art-data {
    font-size: 1.2rem;
    margin: 5vw;
    line-height: 1.5rem;
}

.time-table {
    margin: 5vw;
}

.link-button {
    margin-top: 10px; 
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 94, 94);
    height: 15vw;
    width: 100%;
    border-radius: 10px; 
}

img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (orientation: landscape) {
    .art-header {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: 40vw;
    }
    .art-title {
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .art-title p {
        margin-left: 0px;
        margin-right: 0px;
    }
    .art-data {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }
}