#daibo {
  background-image: url('./images/daibo1.jpg');
}

#quiz {
  background-image: url('./images/quiz.jpg')
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maintext {
  font-size: 1.7rem;
} 

.box1 .maintext {
  letter-spacing: 0.2rem;
  font-weight: 400;
}
.subtext {
  margin-top:1rem;
  font-size: 0.7rem;
  font-weight: 100;
}

.box1 .subtext {
  letter-spacing: 0.1rem;
}

.box1 {
  color: rgb(255, 255, 255);
  height: 90vh;
  background-image: url('./images/img3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  animation: fade 50s linear 0s forwards;
}

@-webkit-keyframes fade {
    0% { background-position: bottom right; }
    100% { background-position: bottom left; }
}
@keyframes fade {
    0% { background-position: bottom right; }
    100% { background-position: bottom left; }
}

.box2 {
  height: 20vh;
}

.box3 {
  display: flex;
  flex-wrap: wrap;
}

.box3-1 {
  color: rgba(255, 255, 255,1);
  height: 20vh; 
  width: calc(50% - 0.1rem);
  background-size: cover;
  margin-bottom: 0.2rem;
}

.box3-1 div {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 90, 170, 0.356);
}

.L1 {
  margin-right: 0.1rem;
}

.R1 {
  margin-left: 0.1rem;
}

.header {
  position: absolute;
}
