.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maintext {
  font-size: 1.7rem;
}

.subtext {
  margin-top:1rem;
  font-size: 0.7rem;
  font-weight: 100;
}

.smalltext {
  font-size: 0.7rem;
}

.footer {
  padding-top: 10vh;
  padding-bottom: 6vh;
  padding-left: 3vh;
}

.footer p {
  font-size: 0.75rem;
}