@import url('../node_modules/reset-css/reset.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400&subset=japanese');
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat','Noto Sans JP', sans-serif;
  background-color: rgb(255, 255, 255);
}
p {
  font-weight: 300;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}